.share {
  display: flex;
  flex-wrap: wrap;
  margin: -1px;
}
.share a {
  margin: 1px;
  border: 1px solid;
  font: inherit;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  color: inherit;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  padding: .25em .75em;
  position: relative;
}
.share a span,
.share a svg {
  display: inline-block;
  vertical-align: middle;
}
.share span b {
  font: inherit;
  font-weight: bold;
}
.share svg {
  width: 1.25em;
  height: 1.25em;
  margin-left: -.25em;
  fill: currentColor;
}

/* @color */
.share-color a {
  background: #000;
  line-height: 1;
  border-color: transparent;
}
.share-color a,
.share-color a:focus,
.share-color a:hover,
.share-color a:active {
  color: #fff;
}
.share-color .to\:e-mail {
  background: #777;
}
.share-color .to\:facebook {
  background: #3b5998;
}
.share-color .to\:linked-in {
  background: #0077b5;
}
.share-color .to\:pinterest {
  background: #bd081c;
}
.share-color .to\:reddit {
  background: #3a80c1;
}
.share-color .to\:telegram {
  background: #54a9eb;
}
.share-color .to\:tumblr {
  background: #35465c;
}
.share-color .to\:twitter {
  background: #55acee;
}
.share-color .to\:v-k {
  background: #507299;
}
.share-color .to\:whats-app {
  background: #25d366;
}
.share-color .to\:x-i-n-g {
  background: #1a7576;
}

/* @icon */
.share-icon a span {
  position: absolute;
  bottom: 100%;
  left: 0;
  z-index: 9999;
  background: #000;
  border: 0 solid #000;
  border-radius: .25em;
  padding: .5em 1em;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-out;
}
.share-icon a span::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 1em;
  width: 0;
  height: 0;
  border: .25em solid transparent;
  border-top-color: inherit;
}
.share-icon a {
  padding: .5em;
}
.share-icon a svg {
  margin: 0;
}
.share-icon a:focus span,
.share-icon a:hover span {
  transition-duration: .125s;
  margin-bottom: 1em;
  visibility: visible;
  opacity: 1;
}

/* @round */
.share-round a {
  border-radius: .25em;
}
.share-icon.share-round a {
  border-radius: 100%;
}